*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/saveactions_settings.xml
.DS_Store
/.idea
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.zkey
/app/src/main/java/org/freedomtool/unitedgsh/config/
*.aab
*.apk
/app/google-services.json
/zkp_assets/build/intermediates/asset_pack_manifest/AndroidManifest.xml

/app/src/main/java/com/rarilabs/rarime/config/
/app/google-services.json
/.idea/
