<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="*" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rarime"
        tools:targetApi="31">

        <!-- Primary MainActivity -->
        <activity
            android:name="com.rarilabs.rarime.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:localeConfig="@xml/locales_config"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Rarime">

            <!-- Deep Link Intent Filters -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="app.stage.rarime.com" />
                <data android:pathPattern="/r/.*" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="app.rarime.com" />
                <data android:pathPrefix="/external" />

                <data android:scheme="http" />
                <data android:host="app.rarime.com" />
                <data android:pathPrefix="/external" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="external"
                    android:scheme="rarime" />
            </intent-filter>
        </activity>

        <!-- Activity Alias for Black Icon -->
        <activity-alias
            android:name="com.rarilabs.rarime.MainActivityBlack"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_green"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_green_round"
            android:targetActivity="com.rarilabs.rarime.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Activity Alias for Green Icon -->
        <activity-alias
            android:name="com.rarilabs.rarime.MainActivityBW"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_green"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_green_round"
            android:targetActivity="com.rarilabs.rarime.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Activity Alias for Gradient Icon -->
        <activity-alias
            android:name="com.rarilabs.rarime.MainActivityBG"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_gradient"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_gradient_round"
            android:targetActivity="com.rarilabs.rarime.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Activity Alias for White Icon -->
        <activity-alias
            android:name="com.rarilabs.rarime.MainActivityGB"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_white"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_white_round"
            android:targetActivity="com.rarilabs.rarime.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Activity Alias for Cat Icon -->
        <activity-alias
            android:name="com.rarilabs.rarime.MainActivityCat"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_cat"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_cat_round"
            android:targetActivity="com.rarilabs.rarime.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Other Components -->
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".services.NotificationService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>
</manifest>